name: Build Test (From Windows [[MSVC]])

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  MSVC:
    runs-on: windows-latest
    strategy:
      matrix:
        mode: [Release, Debug]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: 设置 MSVC 编译环境
        uses: ilammy/msvc-dev-cmd@v1

      - name: 安装 vcpkg
        run: |
          git clone https://github.com/microsoft/vcpkg.git "${{github.workspace}}/vcpkg"
          cd "${{github.workspace}}/vcpkg"
          .\bootstrap-vcpkg.bat

      - name: 安装依赖
        run: |
          & "${{github.workspace}}/vcpkg/vcpkg.exe" install --triplet x64-windows

      - name: 配置 CMake
        run: |
          cmake -B "${{github.workspace}}/build" -S "${{github.workspace}}" ^
            -G "Ninja" ^
            -DCMAKE_BUILD_TYPE=${{matrix.mode}} ^
            -DCMAKE_C_COMPILER=cl.exe ^
            -DCMAKE_CXX_COMPILER=cl.exe ^
            -DCMAKE_TOOLCHAIN_FILE="${{github.workspace}}/vcpkg/scripts/buildsystems/vcpkg.cmake"

      - name: 构建
        run: cmake --build "${{github.workspace}}/build"

      - name: 测试
        run: |
          cd build
          ctest -T test --output-on-failure
